TELEGRAM_BOT_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
VERBOSITY=0.33
LOG_LEVEL=WARNING
POLL_INTERVAL=3
BOT_GREETING="<b>Hi!</b> I'm a friendly, <s>crazy</s> slightly psychopath robot"
MAX_HUMAN_USERNAME_LENGTH=100
MAX_CHINESE_CHARS_PERCENT=0.15
WELCOME_DELAY=330
