[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
prettyconf = "*"

[dev-packages]
"flake8" = "*"
"fabric3" = "*"
rope = "*"
pytest = "*"

[requires]
python_version = "3.6"
