[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.8.1"
prettyconf = "==2.0.1"

[dev-packages]
"flake8" = "*"
"fabric3" = "*"
rope = "*"
pytest = "*"
yapf = "*"

[requires]
python_version = "3.6"
