[Unit]
Description=PyDeckard

[Service]
Restart=always
WorkingDirectory=/home/jileon/pydeckard/
ExecStart=/home/jileon/.pyenv/versions/3.12.4/envs/pydeckard/bin/python bot.py

[Install]
WantedBy=multi-user.target
Alias=PyDeckard.service
